<p id="notice"><%= notice %></p>

<p>
  <b>Ip:</b>
  <%= @visit.ip %>
</p>

<p>
  <b>Lat:</b>
  <%= @visit.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @visit.lng %>
</p>


<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
